.footer{
    position: fixed;
    width: 100%;
    height: 8%;
    bottom: 0;
    background-color: #21272d;
}

.footer-ul{
    overflow: auto;
    list-style-type: none;
}

.footer-li{
    float: left;
    margin: 20px;
}

