.header {
    background-color: #1c1e24;
    padding: 0.5%;
    font-size: 13px;
    color: grey;
}

.header-ul{
    list-style-type: none;
    padding: 1px;
}

.header-li {
    float: left;

    padding-right:  5%;
}

