.header {
    background-color: #1c1e24;
    font-size: 13px;
    color: grey;

}

.header ul {
    list-style-type: none;
    padding: 15px;
    color: #1e2227;
}

.header li {
    padding-right: 25px;
}

.header li a {
    text-decoration: none;
    color: #817E7E;
    transition: 0.1s ease;

}

.header li a:hover {
    color: #ACAAAA;
    transition: 0.1s ease;

}
