.header {
    background-color: #1c1e24;
    padding: 0.5%;
    font-size: 13px;
    color: grey;
}

.header-ul{
    list-style-type: none;
    padding: 1px;
    color: #1e2227;
}

.header-li {
    float: left;

    padding-right:  5%;
}

.header-li a{
    text-decoration: none;
    color: #817E7E;
    transition: 0.1s ease;

}
.header-li a:hover{
    color: #ACAAAA;
    transition: 0.1s ease;

}
