.subheader {

    background-color: #1e2227;


}

.subheader ul {
    list-style-type: none;
    padding: 15px;
    transition: 0.1s ease;

}

.subheader li {
    transition: 0.1s ease;

}

.subheader li a {
    font-weight: bold;
    float: left;
    margin-right: 25px;
    color: #817E7E;
    transition: 0.5s ease;

    text-decoration: none;
}


.subheader li a:hover {
    color: #ACAAAA;
    transition: 0.5s ease;
    border-bottom: 1px solid #F74B45;

}

.subheader li a:hover .subheader-logo {
    filter: invert(0.8);

}

.subheader li .active .subheader-logo {
    filter: invert(1) !important;
}


.subheader li .active {
    color: white !important;

    border-bottom: 1px solid #F74B45;

}


.subheader-logo {
    width: 20px;
    height: 20px;
    margin: 3px;
    filter: invert(0.4);

}

.auth-button {
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    float: right;
    width: 100px;
    height: 40px;
    margin: 25px ;
}

.auth-button:hover, .auth-button:visited, .auth-button:link, .auth-button:active {
    color: white;
    text-decoration: none !important;
    outline: none !important;
}


.login {
    background-color: #3eb240;

}

.login:hover {

    background-color: #45c647;
}

.logout {
    background-color: #3c434e;

}

.logout:hover {
    background-color: #474f5c;

}